@use "../global/index" as *;
@use "../util/index" as *;

// @include flex(r, c, c);
// @include flexForPhon(cr,2);
// @include grid(2, 2, fr, 1rem)

.App {
    .Container {
        main#Game {
            width: 100%;
            padding: 1.5rem;
            margin: 3rem 0;
            border-radius: var(--border-radius);
            text-align: center;
            background-color: var(--accent-clr);
            box-shadow: inset 0px -0.5rem 0 var(--accent-shadow-clr);
            .pickXO {
                --pd-top: 0.5rem;
                position: relative;
                padding: var(--pd-top);
                margin: 1.5rem 0;
                background-color: var(--bg-clr);
                border-radius: var(--border-radius);
                .bg {
                    width: calc(50% - 1rem);
                    height: calc(100% - 1rem);
                    position: absolute;
                    top: var(--pd-top);
                    left: var(--pd-top);
                    border-radius: var(--border-radius);
                    background-color: var(--txt-clr);
                }
                ul {
                    @include flex(r, c, c);
                    gap: 1rem;
                    position: relative;
                    li {
                        width: 50%;
                        .Button {
                            --icon-size: 2.5rem;
                            --focus-shadow: 0 0 0 transparent;
                            background-color: transparent;
                            svg {
                                width: var(--icon-size);
                                height: var(--icon-size);
                            }
                        }
                    }
                }
            }
            p {
                color: hsla(var(--clr-alpha-blue-gray-300) / 0.9);
            }
        }
    }
    .Stage2 {
        main#Game {
            background-color: unset;
            box-shadow: unset;
            padding: unset;
            margin: 1.5rem 0;
            @include grid(3, 3, fr, 1rem);
            > div:has(button) {
                button {
                    // ! make the hight = width with js
                    --focus-shadow: inset 0px -0.4rem 0 var(--accent-shadow-clr);
                    width: 100%;
                    height: 100%;
                    padding: 1rem;
                    border-radius: var(--border-radius);
                    background-color: var(--accent-clr);
                    @include flex(n, c, c);
                    .c {
                        width: 75%;
                        height: 75%;
                        position: relative;
                        svg {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                        }
                    }
                }
                button[data-played="false"] {
                    .c {
                        svg {
                            opacity: 0;
                            transition: opacity 100ms
                                cubic-bezier(0.66, -0.2, 0.27, 1.15);
                        }
                    }
                }
                button[data-played="false"]:where(:hover, :active) {
                    .c {
                        svg {
                            opacity: 1;
                        }
                    }
                }
                button[data-played="true"]:has(svg, img) {
                    pointer-events: none;
                }
            }
        }
    }
}
