@use "../global/index" as *;
@use "../util/index" as *;

// @include flex(r, c, c);
// @include flexForPhon(cr,2);
// @include grid(2, 2, fr, 1rem)

:root {
    --Header-hight: 2rem;
    --Header-icon-hight: 5rem;
}

.App {
    .Container {
        .main-header {
            width: 100%;
            @include flex(n, c, c);
            .header__Logo {
                height: var(--Header-hight);
                a {
                    cursor: pointer;
                    svg {
                        width: var(--Header-icon-hight);
                    }
                }
            }
        }
    }
    .Stage2,
    .Stage3 {
        .main-header {
            @include flex(n, sb, c);
            .header__turn {
                height: 100%;
                @include flex(r, se, c);
                gap: calc(var(--Header-hight) / 2.5);
                background-color: var(--bg-item-clr);
                padding: calc(var(--Header-hight) / 2.5)
                    calc(var(--Header-hight) / 1.25);
                border-radius: var(--border-radius);
                overflow: hidden;
                svg {
                    width: calc(var(--fs-s) * 1.5);
                    height: calc(var(--fs-s) * 1.5);
                }
            }
        }
        .Button {
            width: auto;
            height: 2rem;
        }
    }
}
