@use "../global/index" as *;
@use "../util/index" as *;

// @include flex(r, c, c);
// @include flexForPhon(cr,2);
// @include grid(2, 2, fr, 1rem)

.App {
    .Container {
    }
    .Stage1 {
        main#Game {
            width: 100%;
            padding: 1.5rem;
            margin: 3rem 0;
            border-radius: var(--border-radius);
            text-align: center;
            background-color: var(--accent-clr);
            box-shadow: inset 0px -0.5rem 0 var(--accent-shadow-clr);
            .pickXO {
                position: relative;
                padding: 0.5rem;
                margin: 1.5rem 0;
                background-color: var(--bg-clr);
                border-radius: var(--border-radius);
                .bg {
                    width: calc(50% - 0.75rem);
                    height: calc(100% - 1rem);
                    position: absolute;
                    top: 0.5rem;
                    left: 0.5rem;
                    right: 0.5rem;
                    border-radius: var(--border-radius);
                    background-color: var(--txt-clr);
                }
                ul {
                    @include flex(r, c, c);
                    gap: 1rem;
                    position: relative;
                    li {
                        width: 50%;
                        .Button {
                            --icon-size: calc(var(--Header-icon-hight) / 2.5);
                            --focus-shadow: 0 0 0 transparent;
                            background-color: transparent;
                            img {
                                width: var(--icon-size);
                                height: var(--icon-size);
                            }
                        }
                    }
                }
            }
            p {
                color: hsla(var(--clr-alpha-blue-gray-300) / 0.9);
            }
        }
    }
}
