@use "../global/index" as *;
@use "../util/index" as *;

// @include flexQueries(r, c, c);
// @include flexForPhon(cr,2);
// @include grid(2, 2, fr, 1rem)

@media screen and (max-width: #{toEm(1024px)}) {
    .App {
        .Container {
            --container-width: 35%;
        }
        .Container.Stage2,
        .Container.Stage3 {
            --container-width: 38%;
        }
        // .Container.Stage3 {
        //     --container-width: 30%;
        // }
    }
}

@media screen and (max-width: #{toEm(768px)}) {
    .App {
        .Container {
            --container-width: 90%;
        }
        .Container.Stage2,
        .Container.Stage3 {
            --container-width: 90%;
        }
    }
}
@supports (overflow-x: clip) {
    html,
    body {
        overflow-x: clip;
    }
}
@supports (height: 100svh) {
    #root {
        height: 100svh; //? svh -> Small view height, lvh -> large view height , dvh -> device view height
    }
}
@supports (aspect-ratio: 1 / 1) {
    .Stage2,
    .Stage3 {
        main#Game {
            > div:has(button) {
                button {
                    width: 100%;
                    aspect-ratio: 1 / 1;
                }
            }
        }
    }
}

/* For people who have motion sickness. */
@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-delay: 0s !important;
        transition-duration: 0s !important;
    }
}
