@use "./colors.scss" as *;
@use "../util/index" as *;
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap");

// ################################

$minFont: 12px;
$maxFont: 18px;
$addOnMin: 1.1;
$addOnMax: 1.2;

// ################################

:root {
    @for $inti from 1 to 10 {
        $inti: $inti * 100;
        --fs-#{$inti}: #{ClampCalc($minFont, $maxFont)};
        $minFont: $minFont * $addOnMin;
        $maxFont: $maxFont * $addOnMax;
    }
}
:root {
    // font families
    --font-family: "Outfit", sans-serif;

    // font sizes
    --fs-s: var(--fs-100);
    --fs-m: var(--fs-300);
    --fs-l: var(--fs-500);
    --fs-xl: var(--fs-700);
    --fs-xxl: var(--fs-900);

    //Weights
    --fw-l: 400;
    --fw-m: 500;
    --fw-b: 700;
}

body {
    font-family: var(--font-family);
}
:where(h1, h2, h3, h4, p, a:not(.Button), .Button, span) {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: #{toRem(2px)};
    color: var(--txt-clr);
}
:where(h1, h2, h3, h4, p, span):not(:last-child) {
    margin: 0 0 1rem 0;
}
h1,
.h1 {
    font-size: var(--fs-l);
    font-weight: var(--fw-b);
}
h2,
.h2 {
    font-size: var(--fs-l);
    font-weight: var(--fw-b);
}
h3,
.h3 {
    font-size: var(--fs-m);
    font-weight: var(--fw-m);
}
h4,
.h4 {
    font-size: var(--fs-s);
    font-weight: var(--fw-m);
}
p,
.p {
    font-size: var(--fs-s);
    font-weight: var(--fw-l);
}
a:not(.Button) {
    font-size: var(--fs-s);
    font-weight: var(--fw-m);
    text-decoration: none;
}
@for $inti from 1 to 10 {
    $inti: $inti * 100;
    .fs-#{$inti} {
        font-size: var(--fs-#{$inti});
    }
    $minFont: $minFont * $addOnMin;
    $maxFont: $maxFont * $addOnMax;
}
.fs-s {
    font-size: var(--fs-100);
}
.fs-m {
    font-size: var(--fs-200);
}
.fs-l {
    font-size: var(--fs-500);
}
.fs-xl {
    font-size: var(--fs-700);
}
.fs-xxl {
    font-size: var(--fs-900);
}
.fw-l {
    font-weight: var(--fw-l);
}
.fw-m {
    font-weight: var(--fw-m);
}
.fw-b {
    font-weight: var(--fw-b);
}
